.bDiv{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url('../background.jpg'); */
    background-color: black;
    opacity: 40%;
    z-index: 2;
    overflow: hidden;
}
.mDiv{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.curtain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-panel,
  .right-panel {
    width: 50%;
    height: 100vh;
    float: left;
    z-index: 2;
    position: relative;
    background: black;
    transition: all 1s ease-in;
  }
.listItem:hover{
    background-color: gray;
    color: white;
}
.content {
   position: absolute;
   width: 100%;
   z-index: 1;
}
.my-node-enter {
    /* opacity: 0; */
    transform: translateX(-100%);
}
.my-node-enter-active {
    /* opacity: 1; */
    transform: translateX(0%);
    transition: transform 1000ms ease-in-out ;
}
.my-node-exit {
    transform: translateX(0%);
}
.my-node-exit-active {
    transform: translateX(-200%);
    transition: transform 1000ms ease-in-out ;
}
.main-node-enter {
    transform: translateY(100%);
}
.main-node-enter-active {
    transform: translateY(0%);
    transition: transform 1000ms ease-in-out;
}
.main-node-exit {
    transform: translateY(0%);
}
.main-node-exit-active {
    transform: translateY(-200%);
    transition: transform 1000ms ease-in-out;
}